body{
    font-family: 'Amaranth', serif;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #2c0046;
}

#rules{
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#rules .info{
    display: inline-block;
    vertical-align: top;
    width: 100%;
}



